<app-navbarheader></app-navbarheader>


<div class="gridcontainer" id="agGrid">
    <ag-grid-angular #agGrid
        class= "ag-theme-alpine"
        [rowData]= "rowData | async"
        [columnDefs]= "columnDefs"
        (cellValueChanged)="cellValueChanged($event)"
        pagination
        
        >
    </ag-grid-angular>
</div>



<div class="container">
    <hr>
    <h1>Create New Record</h1><hr>
    <div class="inputfields">
        <div >
            <label>Version</label>
            <input name="Version" [(ngModel)]="formData.version">
        </div>

        <div>
            <label>Requested By</label>
            <input name="reqBy" [(ngModel)]="formData.reqBy">
        </div>
        <div>
            <label>Requested Date</label>
            <input name="reqDate" [(ngModel)]="formData.reqDate">
        </div>
        <div>
            <label>Department</label>
            <input name="dep" [(ngModel)]="formData.dep">
        </div>
        <div>
            <label>Name</label>
            <input name="name" [(ngModel)]="formData.name">
        </div>
        <div>
            <label>Reference No.</label>
            <input name="refNum" [(ngModel)]="formData.refNum">
        </div>
        <div>
            <label>Subject</label>
            <input name="subject" [(ngModel)]="formData.subject">
        </div>
        <div>
            <label>User</label>
            <input name="user" [(ngModel)]="formData.user">
        </div>
        <div>
            <label>Link</label>
            <input name="link" [(ngModel)]="formData.link">
        </div>
        <div>
            <label>Period</label>
            <input name="period" [(ngModel)]="formData.period">
        </div>
        <div>
            <label>Description</label>
            <input name="description" [(ngModel)]="formData.description">
        </div>
        <div>
            <label>Last Update</label>
            <input name="lastUpdate" [(ngModel)]="formData.lastUpdate">
        </div>
        <div>
            <label>Expiration Date</label>
            <input name="expDate" [(ngModel)]="formData.expDate">
        </div>
    
            <button type="submit" class="btn btn-primary" (click)="addEntry(formData)">Submit</button>
        </div>
   

    <!-- <ag-grid-angular 
    style= "width: 90vw; height: 500px;"
    class= "ag-theme-alpine"
    [rowData]= "rowData | async"
    [columnDefs]= "columnDefs"
    (cellValueChanged)="cellValueChanged($event)"
    pagination
    >
    </ag-grid-angular>
</div> -->

<!-- Figure out how to use pagination
figure out how to use event emitters...
(cellClicked)="onCellClicked($event)"-->

<!-- <clr-datagrid>
    <clr-dg-column>Version</clr-dg-column>
    <clr-dg-column>Requested By</clr-dg-column>
    <clr-dg-column>Requested Date</clr-dg-column>
    <clr-dg-column>Department</clr-dg-column>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Reference #</clr-dg-column>
    <clr-dg-column>Subject</clr-dg-column>
    <clr-dg-column>User</clr-dg-column>
    <clr-dg-column>Link</clr-dg-column>
    <clr-dg-column>Period</clr-dg-column>
    <clr-dg-column>Description</clr-dg-column>
    <clr-dg-column>Last Update</clr-dg-column>
    <clr-dg-column>Expiration Date</clr-dg-column>

    <clr-dg-row *ngFor="let entry of tableData">
        <clr-dg-cell>{{entry.version}}</clr-dg-cell>
        <clr-dg-cell>{{entry.reqBy}}</clr-dg-cell>
        <clr-dg-cell>{{entry.reqDate}}</clr-dg-cell>
        <clr-dg-cell>{{entry.dep}}</clr-dg-cell>
        <clr-dg-cell>{{entry.name}}</clr-dg-cell>
        <clr-dg-cell>{{entry.refNum}}</clr-dg-cell>
        <clr-dg-cell>{{entry.subject}}</clr-dg-cell>
        <clr-dg-cell>{{entry.user}}</clr-dg-cell>
        <clr-dg-cell>{{entry.link}}</clr-dg-cell>
        <clr-dg-cell>{{entry.period}}</clr-dg-cell>
        <clr-dg-cell>{{entry.description}}</clr-dg-cell>
        <clr-dg-cell>{{entry.lastUpdate}}</clr-dg-cell>
        <clr-dg-cell>{{entry.expDate}}</clr-dg-cell>
        
    </clr-dg-row>

    <clr-dg-footer>{{tableData.length}} users</clr-dg-footer>
</clr-datagrid> -->