.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
    
}

// ag grid
.ag-theme-alpine{
    width: 90%; 
    height: 100%;
    margin-right: 50px;
    margin-left: 100px;
}

.gridcontainer{
    width: 90vw; height: 60vh;
    padding: 15px;
    margin: 25px;
    margin-top: 50px;
  
}


.inputfields{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

#fit-to-button{
    display: flex;
    justify-content: center; 
    margin-left: 300px;
}

.grid-controls{
    display:flex;
}

.bottom-spacer{
    height: 500px;
}

// mobile

@media screen and (max-width: 500px){

    // ag-grid-angular{
    // }

    .gridcontainer{
        height: 60vh;
        margin-top: 20px;
        width: 90vw;
        margin-right: 6vw;

    }


    .ag-theme-alpine{
        height: 100%;
        margin-left: 0;
    }

    .grid-controls{
        margin-left: 8vw;
        display: block;
    }


}