.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

// ag grid
.ag-theme-alpine{
    width: 100%; 
    height: 100%;
}

.gridcontainer{
    width: 100vw; height: 60vh;
    padding: 15px;
    margin: 25px;
    margin-top: 50px;
    margin-right: 20px;
}


.inputfields{
    display:flex;
    flex-direction: row;
}