



<div class="gridcontainer">
    <ag-grid-angular #agGrid
        class= "ag-theme-alpine"
        [rowData]= "rowData | async"
        [columnDefs]= "columnDefs"
        (cellValueChanged)="cellValueChanged($event)"
        rowSelection = "multiple"
        >
    </ag-grid-angular>
</div>

<div class="grid-controls">
    <!-- <button class="btn btn-primary" (click)="this.agGrid.api.sizeColumnsToFit()">Fit to Screen</button> -->

    <button class="btn btn-success" (click)="basic = true">Create New</button>
    <button class="btn btn-warning" (click)="deleteRows()">Delete Selected</button>
</div>





<clr-modal [(clrModalOpen)]="basic" [clrModalSize]="'lg'">
    <div class="modal-body">
        <app-newrecord></app-newrecord>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="basic = false">Ok</button>
    </div>
</clr-modal>






<!-- 
<div class="container">
    <hr>
    <h1>Create New Record</h1>
    <hr>
    <div class="inputfields">
        <div>
            <label>Version</label>
            <input name="Version" [(ngModel)]="formData.version">
        </div>

        <div>
            <label>Requested By</label>
            <input name="reqBy" [(ngModel)]="formData.reqBy">
        </div>
        <div>
            <label>Requested Date</label>
            <input name="reqDate" [(ngModel)]="formData.reqDate">
        </div>
        <div>
            <label>Department</label>
            <input name="dep" [(ngModel)]="formData.dep">
        </div>
        <div>
            <label>Name</label>
            <input name="name" [(ngModel)]="formData.name">
        </div>
        <div>
            <label>Reference No.</label>
            <input name="refNum" [(ngModel)]="formData.refNum">
        </div>
                <br><br>
        <div>
            <label>Subject</label>
            <input name="subject" [(ngModel)]="formData.subject">
        </div>
        <div>
            <label>User</label>
            <input name="user" [(ngModel)]="formData.user">
        </div>
        <div>
            <label>Link</label>
            <input name="link" [(ngModel)]="formData.link">
        </div>
        <div>
            <label>Period</label>
            <input name="period" [(ngModel)]="formData.period">
        </div>
        <div>
            <label>Description</label>
            <input name="description" [(ngModel)]="formData.description">
        </div>
        <div>
            <label>Last Update</label>
            <input name="lastUpdate" [(ngModel)]="formData.lastUpdate">
        </div>
        <div>
            <label>Expiration Date</label>
            <input name="expDate" [(ngModel)]="formData.expDate">
        </div>
    
            <button type="submit" class="btn btn-primary" (click)="addEntry(formData)">Submit</button>
        
</div> -->
<div class="bottom-spacer"></div>
<div>


