$field-spacer: 150px;



#title{
    text-align: center;
}

.create-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


}

.card{
    width: 500px;
    padding: 50px;
    position: relative;


}

// formatting the form fields

div form clr-input-container input {
    margin-left: $field-spacer;
}

div form clr-select-container select {
    margin-left: $field-spacer;
}

div form clr-date-container{
    margin-left: $field-spacer;
    
}

.btn-group {
    position: relative;
    left: 100px;
    width: 500px;
    top: 50px;
    margin-bottom: 40px;

}

div form clr-date-container label{
    position: relative;
    left: -160px
    
}

.modal-body.modal-title{
    padding: 20px;
}


// mobile media query

@media screen and (max-width: 500px ){
    .card{
        width: 350px;
    }

    .btn-group{
        position: relative;
        left: 15px;

    }
}


