<app-navbarheader></app-navbarheader>



<h1 id="title"> Add a New Record</h1>

<!-- edit ngmodels this messes up the UI-->
<div class="create-form">


    <form clrForm class="createform card" >

        <clr-input-container>
          <label>Version</label>
          <input clrInput type="text" name="Version" 
          placeholder="enter current version" [(ngModel)]="_tableView.formData.version"/>
        </clr-input-container>

        <clr-input-container>
          <label>Request By</label>
          <input clrInput type="text" name="reqBy" 
          placeholder="person requesting"
          [(ngModel)]="_tableView.formData.reqBy" />
        </clr-input-container>

        <clr-date-container>
          <label>Request Date</label>
          <input type="date" clrDate name="reqDate" [(ngModel)]="_tableView.formData.reqDate">
        </clr-date-container>
         
         <clr-select-container>
          <label>Department</label>
          <select clrSelect name="options"
          id="select-full" class="clr-select"
          [(ngModel)]="_tableView.formData.dep" required>
            <option value="Finance">Finance</option>
            <option value="HR">HR</option>
            <option value="Management">Management</option>
          </select>
        </clr-select-container>

        <clr-input-container>
          <label>Name</label>
          <input type="text" clrInput name="name"
          placeholder="enter title of doc" 
          [(ngModel)]="_tableView.formData.name">
        </clr-input-container>

        <clr-input-container>
          <label>Subject</label>
          <input type="text" clrInput name="Subject"
          placeholder="describe subject" 
          [(ngModel)]="_tableView.formData.subject">
        </clr-input-container>
       
        <!-- <clr-input-container> 
          <label>User</label>
          <input type="text" clrInput name="User" [(ngModel)]="_tableView.formData.user">
        </clr-input-container> -->
        
        <!-- <clr-input-container>
          <label>Link</label>
          <input type="text" clrInput name="Link" [(ngModel)]="_tableView.formData.link">
        </clr-input-container> -->

          <!-- <clr-input-container>
          <label>Period</label>
          <input type="text" clrInput name="period" [(ngModel)]="_tableView.formData.period">
        </clr-input-container> -->

        <clr-input-container>
          <label>Comment</label>
          <input type="text" clrInput name="description"
          placeholder="enter comment"
           [(ngModel)]="_tableView.formData.description">
        </clr-input-container>

        <!-- <clr-date-container>
          <label>Last Update</label>
          <input type="date" clrDate name="LastUpdate" [(ngModel)]="_tableView.formData.lastUpdate">
      </clr-date-container> -->
      
        <!-- <clr-date-container>
          <label>Expiration Date</label>
          <input type="date" clrDate name="expDate" [(ngModel)]="_tableView.formData.expDate">
        </clr-date-container><br> -->

     
      
          <div class="clr-row btn-group" >
          <button type="submit" 
          class="btn btn-primary submit-button clr-col-3"  
          (click)="modal = true; clearForms()"
          style="position: relative; left: -10px;">Submit</button>

          <button class="btn btn-regular clr-col-3"
          (click)="clearForms()"
          style="border-left: 1px solid black;">Clear</button>
       </div>



    </form>


   
</div>


<!-- modal -->

<clr-modal [(clrModalOpen)]="modal" [clrModalSize]="'md'">
    <h3 class="modal-title" 
    style="text-align: center;">
    What does this record contain?
  </h3>
    <div class="modal-body">
        <p>Please enter column descriptors...
        seperate with commas.</p>
       
       
        <input [(ngModel)]="_tableView.formData.dataColumns">
        
            
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modal = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="modal = false; _tableView.addEntry(_tableView.formData)">Ok</button>
    </div>
<clr-modal>



