


<app-navbarheader></app-navbarheader>


<div class="portalbuttons">
    <div class="clr-row ">
        <div class="clr-col-lg-6 clr-col-6">
            <a href="/generator" class="card clickable imagebutton1">
                <div class="card-img imagebutton1">
                    <img src="../../../assets/excel.png" class="imagebuttons">
                </div>
                <div class="card-block">
                    <p class="card-text">
                        Generate New Table
                    </p>
                </div>
            </a>
        </div>
    </div>



    <div class="clr-row">
        <div class="clr-col-lg-6 clr-col-6">
            <a href="/library" class="card clickable imagebutton1">
                <div class="card-img imagebutton1">
                    <img src="../../../assets/library-1501354-1271670.webp">
                </div>
                <div class="card-block">
                    <p class="card-text">
                        View Document Library
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>