// .login-wrapper{
//     background-image: "../../../assets/bigSide.jpg"
// }





@media only screen and (min-width: 600px) {

    // Desktop
    .background-image{
        width: 60vw;
        height: 100vh;
    }

    // .title{
    // }


  };

  // Mobile
  @media only screen and (max-width: 600px) {

    .background-image{
        width: 0vw;
        height: 0vh;
    }


  };