<div id="main">
    <h1 id='mobile-logo' *ngIf="_tableData.loggedIn"> GMED RecordKeeper</h1>
    <div class="nav" *ngIf="_tableData.loggedIn">
    
    <header 
    style="background-color: navy;" >

        <img class="logo" src='../../../assets/bigLogo.png' height="80px"
        style="margin: 0 auto;"> 
    </header>
    <nav>
    <!-- *ngIf="_tableData.loggedIn"> -->
        <ul class="navbarlist" style="display:flex;">
            <li class="nav-item">
                <a class="nav-link" href="/access">Home</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/generator">Add Record</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tableView">Table View</a>
                </li> 
                <li class="nav-item nav-link">
                    User Guide
                </li>
            
            <li class="nav-item nav-link" >
                    Log Out
            </li>
        </ul>
    </nav>
    </div>
</div>

