.nav{
    height: 60px;
    margin-top: 10px;
}

#mobile-logo{
    display: none;
}

// mobile 
@media screen and (max-width: 500px){
    .logo{
        display: none;
    }

    #mobile-logo{
        display: block;
        height: 40px;
        margin-top: 2vh;
        margin-left: 2vw;
    }

    .nav{
        height: 30px;
    }

}