<header>
    <h3 style="color:white;">Business Information Dashboard</h3>
 </header>
 <nav class="subnav" >
     <ul class="nav" style="display:flex;">
         <li class="nav-item">
             <a class="nav-link" href="/access">Dashboard</a>
         </li>
         <li class="nav-item">
                <a class="nav-link" href="#">Template Generator</a>
            </li>
         <!-- ask diana about how to move just logout to the end-->
         <li class="nav-item" >
             <a class="nav-link" href="#">Log Out</a>
         </li>
     </ul>
 </nav>
 

 <!-- style="justify-self: flex-end; -->