<header>
    <h3 style="color:white;">GMED RecordKeeper</h3>
 </header>
 <nav class="subnav" >
     <ul class="nav" style="display:flex;">
         <li class="nav-item">
             <a class="nav-link" href="/access">Dashboard</a>
         </li>
         <li class="nav-item">
                <a class="nav-link" href="/generator">Add New</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tableView">Library</a>
            </li>
        
         <li class="nav-item" >
             <a class="nav-link" href="#">Log Out</a>
         </li>
     </ul>
 </nav>
 

